astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.1
docker-pycreds==0.4.0
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.4
pathtools==0.1.2
promise==2.3
protobuf==3.13.0
psutil==5.7.3
pylint==2.6.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
sentry-sdk==0.19.2
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
toml==0.10.2
typed-ast==1.4.1
urllib3==1.25.11
wandb==0.10.9
watchdog==0.10.3
wrapt==1.12.1
